.navbar{
    background-color: rgb(255,242,102) !important;
}
.navbar .navbar-brand{
    color : #000;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-brand:hover{
    color: #000;
}

.navbar .nav-item a{
    color: #000 !important;
}

.navbar .dropdown-menu{
    background-color: rgba(255,242,102,0.3);
}
.dropdown-item:hover{
    background-color: rgba(255,242,102,0.3);
}
.navbar form button{
    background-color: #ea00b1;
    color:#FFF;
    border:0;
}
.navbar form button:hover{
    background-color: #000;
}

.mjfimgcontainer img{
  width: auto;
  height: 20px;
}

.mjfimgcontainer:hover{
  color: #000;
}

.mjfpre{
    color : #000;
    font-weight: bolder;
    font-size: 1.3em;
}

.btn-primary{
  color: #000;
  background-color: rgb(255,242,102);
  border-color: #000;
}

.btn-primary:hover{
  color: #000;
  background-color: rgba(255,242,102,0.3);
  border-color: #000;
}